@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:url('#{facesContext.externalContext.requestContextPath}/resources/iconfont/MaterialIcons-Regular.eot');
  src:url('#{facesContext.externalContext.requestContextPath}/resources/iconfont/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{facesContext.externalContext.requestContextPath}/resources/iconfont/MaterialIcons-Regular.woff') format('woff'),
		url('#{facesContext.externalContext.requestContextPath}/resources/iconfont/MaterialIcons-Regular.ttf') format('truetype'),
		url('#{facesContext.externalContext.requestContextPath}/resources/iconfont/MaterialIcons-Regular.svg#roundhand_freeregular') format('svg');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.red{
	color: red;
}
.material-icons.green{
	color: #34d523;
}
.material-icons.md-30 {
	font-size:30px;
}
.material-icons.md-36 {
	font-size:30px;
}
